@media(max-width: 1700px){
  .img-section{
    width: 90%;
  }

}

@media(max-width: 1600px){
  #menu{
    left: 50px;
  }
  .container-principal{


    #footer{
      div{
        margin-left: 240px;
      }
    }
  }
}

@media(max-width: 1450px){
  .container-principal{
    #footer{
      div{
        margin-left: 200px;
      }
    }
  }
  .competence{
    img{
      width: 20%;
    }
  }
  .fright-container{
    padding-top: 60px;
    padding-right: 0px;
    #tete{
      width: 60%;
    }
  }
  .fleft-container{
    padding-left: 8%;
    #titre{
      font-size: 80px;
    }
    #menu{
      left: 27px;
    }
  }
}

@media(max-width: 1200px){
  .container-principal{
    .third-container{
      padding-top: 90px;
    }
    #footer{
      div{
        margin-left: 150px;
      }
    }
  }
}

@media(max-width: 1200px){
  .container-principal{
    #footer{
      div{
        margin-left: 125px;
      }
    }
  }
  .fright-container{
    padding-top: 60px;
    padding-right: 0px;
    width: 50%;
    #tete{
      margin-left: 50px;
      width: 50%;
    }
  }
  .fleft-container{
    padding-left: 8%;
    #titre{
      font-size: 50px;
    }
    #menu{
      left: 27px;
    }
  }
  .container-principal .third-container .information h2{
    font-size: 40px;
  }
  .container-principal .third-container .information #bar-developpement {
    width: 349px;
  }
  .container-principal .third-container .information #bar-graphisme {
    width: 238px;
  }
  .container-principal .third-container .information #bar-video {
    width: 124px;
  }
  .container-principal .third-container .realisation a .view h2{
    font-size: 16px;
  }
  .container-principal .third-container .realisation a .view p{
    font-size: 14px;
  }
}
@media(max-width: 1000px){
  .fright-container{
    padding-top: 80px;
  }
  .container-principal{
    #footer{
      div{
        margin-left: 105px;
      }
    }
  }

  .fleft-container{
    #menu{
      left: 2px;
    }
  }
}

@media(max-width: 900px){
  .fright-container{
    padding-top: 105px;
  }
  .container-principal{
    #footer{
      div{
        margin-left: 80px;
      }
    }
  }

  .fleft-container{
    #toggle{
      margin-left: 21px;
    }
  }
}

@media(max-width: 800px){
  .fleft-container {
    padding-left: 30px;
    width: 60%;

    #menu {
      left: 37%;
    }

    #toggle{
      margin-left: 80%;
    }
  }

  .fright-container {
    padding-top: 81px;
    padding-right: 0px;
    width: 40%;
    #tete {
      margin-left: 0;
      width: 80%;
    }
  }

  .container-principal .third-container .information h2 {
    font-size: 30px;
  }

  #bar-developpement {
    width: 258px;
  }

  #bar-graphisme {
    width: 174px;
  }

  #bar-video {
    width: 90px;
  }

  .container-principal .third-container .realisation a {
    display: inline-block;
    width: 70%;
    margin-left: 35px;
    .view{
      margin-left: 0px;
      .img-section{
        width: 100%;
      }
    }
  }

  .competence img {
    width: 30%;
  }

  .container-principal #footer {
    height:650px;
    div{
      margin-left: 50px;
    }
  }
}

@media(max-width: 600px){
  .fright-container #tete {
    margin-top: 54px;
    margin-left: 22px;
  }

  .realisation{
    padding-top: 5%;
  }

  .container-principal .third-container .information h2 {
    font-size: 25px;
  }

  .container-principal .third-container .information #bar-graphisme {
    width: 145px;
  }

  .container-principal .third-container .information #bar-video {
    width: 74px;
  }

  .container-principal .third-container .information .bar{
    margin-right: 15px;
  }

  .container-principal .third-container .realisation a .view h2 {
    font-size: 14px;
  }

  .container-principal .third-container .realisation a .view p {
    font-size: 12px;
  }

  .container-principal #footer div {
    width: 100%;
  }

  .container-principal #footer h2{
    font-size: 14px;
  }

  .container-principal #footer div{
    font-size: 12px;
    padding-left: 150px;
  }

  .container-principal #footer {
    height: 514px;
  }

}

@media(max-width: 420px){
  #tete{
    display: none;
  }
  .fleft-container #menu {
    left: 29%;
    width: 155px;
    font-size: 12px;

  }
  #menu:after{
    left: 70px;
  }
  #toggle span{
    height: 3px;
  }

  .fleft-container #toggle {
    margin-left: 42%;
  }
  .fleft-container {
    padding-left: 30px;
    width: 100%;
    #titre {
      font-size: 41px;
      margin-top: 90px;

    }

    #sous-titre{
      font-size: 1.2em;
    }

    #chapeau {
      line-height: 1em;
      font-size: 13px;
    }
  }
  .container-principal .title-section #bar-section {
    width: 102px;
  }

  .container-principal .title-section #title-container{
    font-size: 15px;
  }

  #bar-section{
    width: 101px;
  }
  .container-principal{
    .third-container{
      padding-top: 10px;

      .information{
        width: 100%;
        padding-top: 0;
        padding-right: 2%;

        h2 {
          font-size: 20px;
        }

        .bar{
          margin-right: 14px;
        }

        #bar-developpement {
          width: 175px;
        }

        #bar-graphisme {
          width: 117px;
        }

        #bar-video {
          width: 61px;
        }

        .competence{
          margin-top: 30px;
          img{
            margin: 8px;
            margin-top: 0px;
            width: 17%;
          }
        }

      }

      .realisation{
        width: 100%;
        padding-left: 2%;

        a {
          width: 42%;
          margin-left: 21px;
          .view{
            h2{
              font-size: 10px;
            }
            p{
              display: none;
            }
          }
        }

      }
    }

    #footer{
      height: 370px;
      h2{
        font-size: 14px;
      }
      div{
        font-size: 12px;
        padding: 0;
        margin-left: 93px;
        p{
          font-size: 10px;
        }
      }
    }
  }
}

@media(max-height: 525px){
  .container-principal .third-container .realisation a {
      width: 38%;
  }
}
